server/venv/
server/__pycache__/
server/src/migrations/
server/instance/
server/client-secret.json
server/data/
server/output_chunks
server/app/__pycache__
server/tests/__pycache__
server/tests/.pytest_cache
server/.idea
server/app/controllers/__pycache__
server/app/models/__pycache__